<app-layout
  [breadcrumb]="breadcrumb"
  [pageTitle]="pageTitle"
  [pageSubtitle]="pageSubtitle"
>
  <nz-layout>
    <nz-alert
      *ngIf="error"
      nzType="error"
      [nzMessage]="error"
      nzShowIcon
    ></nz-alert>
    <!-- TODO: use upload component when API integration has been developed -->
    <input name="image" type="file" (change)="uploadImage($event)" />
    <div class="original__item" *ngFor="let image of settings.originalImages">
      <img
        [routerLink]="['/mutate/', image.id]"
        class="original__img"
        src="{{ image.imageData }}"
        alt="Original Image"
        width="100%"
      />
      <div>
        <nz-descriptions [nzTitle]="image.id">
          <nz-descriptions-item nzTitle="MIME Type">{{
            image.mimeType
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="File Size">{{
            formatBytes(image.size)
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Dimensions"
            >{{ image.width }} x {{ image.height }}</nz-descriptions-item
          >
        </nz-descriptions>
        <button (click)="deleteFile(image)" nz-button nzType="primary" nzDanger>
          Delete
        </button>
      </div>
    </div>
  </nz-layout>
</app-layout>
