<app-canvas [modifiedImage]="currentImage"></app-canvas>
<button *ngIf="!animation" nz-button nzType="primary" nzShape="circle" (click)="onPlayHistory()"><i nz-icon
        nzType="play-circle"></i></button>
<button *ngIf="animation" nz-button nzType="primary" nzShape="circle" (click)="onPauseHistory()"><i nz-icon
        nzType="pause-circle"></i></button>

<nz-steps [nzCurrent]="currentImage.mutations.length - 1" nzDirection="vertical">
    <div *ngFor="let mutation of mutations; let i = index">
        <nz-step [nzTitle]="mutation.name" [nzDescription]="metadataWrapper">
        </nz-step>
        <ng-template #metadataWrapper>
            <app-metadata [mutation]="mutation"></app-metadata>
        </ng-template>
    </div>
</nz-steps>