<app-layout
  [breadcrumb]="breadcrumb"
  [pageTitle]="pageTitle"
  [pageSubtitle]="pageSubtitle"
>
  <nz-layout>
    <nz-content class="gallery__content">
      <img
        class="gallery__img"
        src="{{ originalImage.imageData }}"
        alt="Original Image"
        width="100%"
      />
      <form nz-form>
        <p nz-typography>Current generation: {{ settings.epoch }}</p>
        <button
          nz-button
          (click)="previousGeneration()"
          *ngIf="settings.epoch > 1"
        >
          Previous Generation
        </button>
        <button nz-button (click)="redoGeneration()" *ngIf="settings.epoch > 0">
          Regenerate
        </button>
      </form>

      <div class="gallery__grid">
        <div
          class="gallery__item"
          *ngFor="let image of settings.generatedImages"
        >
          <app-canvas
            class="gallery__canvas"
            [originalImage]="originalImage"
            [modifiedImage]="image"
          ></app-canvas>
          <app-metadata
            class="gallery__metadata"
            *ngIf="!image.mutations[image.mutations.length - 1].corrupted"
            [mutation]="image.mutations[image.mutations.length - 1]"
          ></app-metadata>
        </div>
      </div>
    </nz-content>
    <nz-sider class="gallery__sidebar" nzWidth="300px" nzTheme="light">
      <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Generation" nzIcon="user">
          <ul>
            <nz-form-item>
              <nz-form-label nzFor="generationSize"
                >Generation size</nz-form-label
              >
              <nz-input-number
                name="generationSize"
                [nzMax]="10"
                [nzMin]="1"
                [(ngModel)]="settings.generationSize"
              >
              </nz-input-number>
              <button
                nz-button
                (click)="resetEvolution()"
                *ngIf="settings.generatedImages.length"
              >
                Reset Evolution
              </button>
            </nz-form-item>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Find and Replace" nzIcon="laptop">
          <ul>
            <app-find-and-replace
              [maxLength]="originalImage.imageData.length / 2"
              (onCreateGeneration)="this.createGeneration($event)"
            ></app-find-and-replace>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Swap Image Data" nzIcon="notification">
          <app-swap-image-data
            [maxLength]="originalImage.imageData.length / 2"
            (onCreateGeneration)="this.createGeneration($event)"
          >
          </app-swap-image-data>
        </li>
      </ul>
    </nz-sider>
  </nz-layout>
</app-layout>
