<nz-layout>
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li [routerLink]="['']" nz-menu-item nzSelected>Showcase</li>
      <li [routerLink]="['/originals/']" nz-menu-item>Media</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-page-header [nzTitle]="pageTitle" [nzSubtitle]="pageSubtitle">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item *ngFor="let crumb of breadcrumb">
          <a [routerLink]="[crumb.path, crumb?.params]">{{ crumb.label }}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-page-header>
    <!-- Content must be wrapped in <nz-layout> -->
    <ng-content></ng-content>
    <nz-footer>Random footer</nz-footer>
  </nz-content>
</nz-layout>
