<p *ngIf="mimeType">Media type of {{ mimeType }}</p>
<p *ngIf="replaceQueryString !== undefined">
  Find "{{ replaceQueryString }}"
  <span *ngIf="replaceQueryMatches">({{ replaceQueryMatches }} matches)</span>
</p>
<p *ngIf="replaceQueryMatches !== undefined">
  Replace with "{{ replaceSubstituteString }}"
</p>
<button (click)="mutateImage()" *ngIf="modifiedImage">Regenerate</button>
<input
  name="maxReplaceLength"
  type="number"
  max="10"
  min="1"
  value="3"
  [(ngModel)]="maxReplaceLength"
/>
<input name="image" type="file" (change)="uploadImage($event)" />
<canvas height="0" width="0"></canvas>
